{% extends 'layouts/base.html' %}
{% block title %}Fetch{% endblock %}

  

{% block body %}
  
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:white;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ url_for('page.start') }}">
        <img src="{{ url_for('static', filename='images/fetch.png') }}"
             class="img-responsive"
             width="229" height="50" title="Snake Eyes" alt="Snake Eyes"/>
      </a>
    </div>
  
  </div>
</nav>
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="container">
       
        
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              
              <tr>
                <td>
                  <div class="card mt-4">
                    <div class="card-body">
                     
                    </div> 
                  </div>
                </td>
                
                       <h4 class="card-title"></h4>
                      
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>
                  <div class="card mt-4">
                  
                    <div class="card-body" style="float:left;">
                      <img src="{{ detail[2] }}" width="500" height="450"/>
                    </div>
                  </div>  
                </td>  
                <td>
                <div class="card mt-4">
                  
                  <div class="card-body" >
                    
                   
                    <a href="{{ detail[1] }}" target="_blank" rel="noopener noreferrer">
                      <h3 class="card-title" id="game" >{{ detail[0] }}</h3> 
                    </a> 
                    <span>
                      <span style="font-size: large;">Developer: </span>
                      <span style="font-size: larger;">{{detail[4] }}</span> 
                    </span>
                    <br>
                    <span>
                      <span style="font-size: large;">Release Date: </span>
                      <span style="font-size: larger;">{{detail[3] }}</span> 
                    </span>
                    <br> 
                    <span>
                      <span style="font-size: large;">Top Tags: </span>
                      <span style="font-size: larger;">{{detail[5] }}</span> 
                    </span>
                    
                    
                    <br> 
                    <span>
                      <span style="font-size: large;"> Recent Ratings: </span>
                      <span style="font-size: larger;">{{detail[8] }}</span> 
                    </span>
                    <br> 
                    <span>
                      <span style="font-size: large;"> All Ratings: </span>
                      <span style="font-size: larger;">{{detail[9] }}</span> 
                    </span>
                    <br> 
                    <span>
                      <span style="font-size: large;">Platforms: </span>
                      <span style="font-size: larger;">{{detail[11] }}</span> 
                    </span>
                    <br> 
                    <span>
                      <span style="font-size: large;">Price: </span>
                      <span style="font-size: larger;"> {{detail[10] }}</span> 
                    </span>
                    <br> 
                    <span>
                      <span style="font-size: large;">Description: </span>
                    
                    </span>
                    <br>
                    <span style="font-size: larger;">{{detail[6] }}</span> 
                    <br>
                    <form action="/game">
                      <button type="submit" name="recommend" value="{{ detail[0] }}">More Like This</button>
         
                        
                      
                      
                    </form>  
                   
                       
                  
                  </div>
                </div>
                </td>
              </tr>
              
              
              
            </tbody>
          </table>
        </div>
        
      </div>
            
      

      </div>
      <!-- /.col-lg-9 -->

   
  </div>
  <!-- /.container -->

  



          
          
         
  </div> 
{% endblock %}