{% extends 'layouts/base.html' %}

{% block title %}Snake Eyes{% endblock %}


{% block body %}
  
  
<div class="row text-center lg-margin-bottom">
    
  <h1></h1>
</div>
<div class="row text-center lg-margin-bottom">
  
  
  <a href="{{ url_for('page.start') }}" >
    <img src="{{ url_for('static', filename='images/snake-eyes.jpg') }}"
         class="img-responsive"
         width="550" height="400" title="Snake Eyes" alt="Snake Eyes" style="padding: 5px; margin:auto;">
  </a>
    
  <form action="/search">
    <div class="input-group" style="padding: 5px; margin:auto;">
      
      
      
      <input type='text' id='games' name="game"  autocomplete="off" placeholder="Copy Pasta the name here... " style=" width: 500px; height:36px ">
      <label for="games" ></label>
      
        
      
        
      
      
        
      <span class="input-group-btn" style="width:40px;">
        <button id="search-this" type="submit" class="pull-right btn btn-default search-btn">
            <i class="fa fa-search"></i>
        </button>
      </span>
      
    </div> 
</form>
<div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="float: right;">
            
  <!-- <br>
  <br> -->

  <a href="/" class="fa fa-twitter"></a>
  

  <a href="/" class="fa fa-instagram"></a>

  <a href="/" class="fa fa-linkedin"></a>

  <a href="/" class="fa fa-github"></a>
  <a href="/" class="fa fa-envelope"></a>


</div>

<script>
      $(document).ready(function () {
    $("#games").autocomplete(
      
    {
        source: async function(request, response) {
            let data = await fetch(`https://snake-eyes.herokuapp.com/autocomplete?query=${request.term}`)
                .then(results => results.json())
                .then(results => results.map(result => {
                    return { label: result, value: result };
                }));
            response(data);
        },
        minLength: 2,
        select: function(event, ui, response) {
            
                
            window.open(`https://snake-eyes.herokuapp.com/search?game=${ui.item.value}`, "_self");
                
        }
    });
});
        
        
                
    

</script>
        
         
        
       
</div> 

{% endblock %}
