
{% extends 'layouts/base.html' %}
{% block title %}Snake Eyes{% endblock %}


{% block body %}
  
  <!-- <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Feeling lucky?</h1>
      <h3 class="text-muted">
        Test your luck against the roll of the dice and win today
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
        <h2>Place bets</h2>
        <p class="text-muted">Correctly guess the dice's roll.</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-database text-primary"></i>
        <h2>Win currency</h2>
        <p class="text-muted">Gain coins if your guess is correct.</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
        <h2>Leaderboard</h2>
        <p class="text-muted">Compare your results to others.</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
    </div>
  </div> -->

<div class="row text-center lg-margin-bottom" style="margin:auto;">
    
  <a href="{{ url_for('page.start') }}">
    <img src="{{ url_for('static', filename='images/snake-eyes.jpg') }}"
         class="img-responsive"
         width="229" height="50" title="Snake Eyes" alt="Snake Eyes"/>
  </a>
</div>
<div class="row text-center lg-margin-bottom">
  
  
    
  <form action="/search">
    <div class="input-group" style="padding: 5px; margin:auto;">
      
      <!-- <select name="category" style="height: 35px; float: left; ">
        {% for category in categories %} 
          <option> {{category}} </option>
        {% endfor %}  
      </select>   -->
      
      <input type='text' id='games' name="game"  autocomplete="off" placeholder="Copy Pasta the name here... " style=" width: 500px; height:36px ">
      <label for="games" ></label>
      
        
      
        
      
      
        
      <span class="input-group-btn" style="width:40px;">
        <button id="search-this" type="submit" class="pull-right btn btn-default search-btn">
            <i class="fa fa-search"></i>
        </button>
      </span>
      
    </div> 
</form>


<script>
      $(document).ready(function () {
    $("#games").autocomplete(
      
    {
        source: async function(request, response) {
            let data = await fetch(`https://snake-eyes.herokuapp.com/autocomplete?query=${request.term}`)
                .then(results => results.json())
                .then(results => results.map(result => {
                    return { label: result, value: result };
                }));
            response(data);
        },
        minLength: 2,
        select: function(event, ui, response) {
            
                
            window.open(`https://snake-eyes.herokuapp.com/search?game=${ui.item.value}`, "_self");
                
        }
    });
});
        
        
                
    

</script>
        
         
        
       
</div> 

{% endblock %}
