{% extends 'layouts/base.html' %}


{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
         
         <form class='form-inline' action = "http://localhost:5000/search" method = "POST">
            <div class="input-group">
              <!-- <select name="category" style="height: 35px; float: left; ">
                {% for category in categories %} 
                  <option> {{category}} </option>
                {% endfor %}  
              </select>   -->
              <input type='text' name="podcast" id='tags' class="form-control search-form" placeholder="Scooby Doo" style="width:400px">
              <span class="input-group-btn" style="width:40px">
                <button id="search-this" type="submit" class="pull-right btn btn-default search-btn">
                    <i class="fa fa-search"></i>
                </button>
              </span>
              
            </div>
            
          </form>
    </div>
  </nav>        
 

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="container">
       
        
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              
              <tr>
                <td>
                  <div class="card mt-4">
                    <div class="card-body">
                     
                    </div> 
                  </div>
                </td>
                
                       <h4 class="card-title"></h4>
                      
                
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                
                <td>
                  <div class="card mt-4">
                  
                    <div class="card-body" style="float:left;">
                      <img src="{{ user[5] }}" width="300" height="300"/>
                    </div>
                  </div>  
                </td>  
                <td>
                <div class="card mt-4">
                  
                  <div class="card-body" >
                   
                    <a href= "{{ user[4] }}">
                      <h3 class="card-title" >{{ user[1] }}</h3>
                    </a>
                    <h4>Author: {{ user[2] }}</h4>
            
                    <h4>Published: {{ user[6] }}</h4>
                    <h4>Tags: {{ user[7] }}</h4>
                    <button type="button" value="search" name="click">Privacy Policy</button> 
                  
                    
                    
                    
                  </div>
                </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
      </div>
            
      

      </div>
      <!-- /.col-lg-9 -->

   
  </div>
  <!-- /.container -->

  



          
          
         
  </div> 
{% endblock %}