{% extends 'layouts/base.html' %}


  

{% block body %}
  
<div class="single-product-area">
  
  <!-- Page Content -->
  <div class="container" style="padding: 20px;">

    <div class="row">
      
                <div class="col-md-3 col-sm-6">
                
                    <div class="card-body">
                      <img src="{{ users[0][7] }}" width="220" height="220"/>
                    </div>
                    <h3 class="card-title" id="game" >{{ users[0][1] }}</h3>
                   
                    
                    <span>
                      <span style="font-size: large;">Developer: </span>
                      <span style="font-size: larger;">{{users[0][2] }}</span> 
                    </span>
                    <br>
                    
                    <span>
                      <span style="font-size: large;">Date: </span>
                      <span style="font-size: larger;">{{users[0][4] }}</span> 
                    </span>
                    <br>
                    <!-- <span>
                      <span style="font-size: large;">Type: </span>
                      <span style="font-size: larger;">{{users[0][6] }}</span> 
                    </span>
                    <br> -->
                    <form action="/game">
                      <button type="submit" name="recommend" value="{{ users[0][8] }}">Recommend</button>
                      <button style="float: inline-end;" type="submit" name="details" value="{{ users[0][1] }}">More Details</button>
                        
                      
                      
                    </form> 
        
                    
                 
                </div>
                
              
              
  
            
      

  
   
    </div>
  <!-- /.container -->

  



          
          
         
  </div> 
</div>  
{% endblock %}z