{% extends 'layouts/base.html' %}
{% block title %}Fetch{% endblock %}

  

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:white;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ url_for('page.start') }}">
        <img src="{{ url_for('static', filename='images/fetch.png') }}"
             class="img-responsive"
             width="229" height="50" title="Snake Eyes" alt="Snake Eyes"/>
      </a>
    </div>
    
  </div>
</nav>
<div id="navbar" class="collapse navbar-collapse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ url_for('page.start') }}">
        <img src="{{ url_for('static', filename='images/fetch.png') }}"
             class="img-responsive"
             width="229" height="50" title="Snake Eyes" alt="Snake Eyes"/>
      </a>
    </div>
    
  </div>
  <ul class="nav navbar-nav">
    
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/discover">
          Discover
        </a>
      </li>
      <li>
        <a href="/login">
          Login
        </a>
      </li>
      <li>
        <a href="/signup">
          Signup
        </a>
      </li>
      
      
  </ul>
 
</div>
  
<div class="single-product-area">
  
  <!-- Page Content -->
  <div class="container" style="padding: 15px;">
    <form action="/search">
        <div class="input-group" style="padding: 5px;">
          
          
          
          <input type='text' id='games' name="game"  autocomplete="off" placeholder="steam games more like..." style=" width: 500px; height:36px ">
          <label for="games" ></label>
          
            
          
            
          
          
            
          <span class="input-group-btn" style="width:40px;">
            <button id="search-this" type="submit" class="pull-right btn btn-default search-btn">
                <i class="fa fa-search"></i>
            </button>
          </span>
          
        </div> 
    </form>
    
    
    <script>
          $(document).ready(function () {
        $("#games").autocomplete(
          
        {
            source: async function(request, response) {
                
                let data = await fetch(`https://www.gofetch.in/autocomplete?query=${request.term}`)
                    .then(results => results.json())
                    .then(results => results.map(result => {
                        return { label: result, value: result };
                    }));
                response(data);
            },
            minLength: 2,
            select: function(event, ui, response) {
                
                    
                window.open(`https://www.gofetch.in/search?game=${ui.item.value}`, "_self");
                    
            }
        });
    });
            
            
                    
        
    
    </script>

    
          {% for game in games %}
            
                <div class="row" style="padding: 15px;">
                
                    <div class="card-body">
                      <img src="{{ game[5] }}" width="300" height="200" style="padding: 5px; float: left;"/>
                    </div>
                    <h3 class="card-title" id="game" >{{ game[1] }}</h3>
                   
                    
                    <span>
                      <span style="font-size: large;">Developer: </span>
                      <span style="font-size: larger;">{{game[2] }}</span> 
                    </span>
                    <br>
                    
                    <span>
                      <span style="font-size: large;">Date: </span>
                      <span style="font-size: larger;">{{game[3] }}</span> 
                    </span>
                    <br>
                    <span>
                      <span style="font-size: large;">Top Tags: </span>
                      <span style="font-size: larger;">{{game[4] }}</span> 
                    </span>
                    <br>
                    <span>
                      <span style="font-size: large;">Rating: </span>
                      <span style="font-size: larger;">{{game[8] }}</span> 
                    </span>
                    <br>
                    
                    <form action="/game">
                      <button type="submit" name="recommend" value="{{ game[1] }}">More Like This</button>
                      <button style="float: inline-end;" type="submit" name="details" value="{{ game[1] }}">More Details</button>
                        
                      
                      
                    </form> 
                </div>
                    
                 
            
          {% endfor %}
              
              
  
            
      

  
   
    </div>
  <!-- /.container -->

  



          
          
         
  </div> 
</div>  
<div class="footer">
  <!-- Grid container -->
  <div class="container" style="padding: 20px;">
    <div class="row">

    
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <!-- <a href="{{ url_for('page.start') }}">
          <img src="{{ url_for('static', filename='images/snake-eyes.jpg') }}"
               class="img-responsive"
               width="229" height="50" title="Snake Eyes" alt="Snake Eyes"/>
        </a>
        <br> -->
        <p class="footer-links" style="float:left;font-size:15px;padding: 15px;">
          <a href="/" style="font-size: 15px;">Home</a>
          {% if current_user.is_authenticated %}
          <a href="/discover" style="font-size: 15px;">Discover</a>
          {% else %}
          <a href="/signup" style="font-size: 15px;">Discover</a>
          {% endif %}
         
        
        </p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="float: right;">
        
            <!-- <br>
            <br> -->
          
            <a href="/" class="fa fa-twitter"></a>
            
          
            <a href="/" class="fa fa-instagram"></a>
          
            <a href="/" class="fa fa-linkedin"></a>
          
            <a href="/" class="fa fa-github"></a>
            <a href="/" class="fa fa-envelope"></a>
          
       
      </div>
      <!--Grid column-->
    </div>
  </div>
      <!--Grid column-->
      
      <!--Grid column-->
   
  <!-- Grid container -->

  <!-- Copyright -->
  
  <!-- Copyright -->
</footer>
<!-- Footer -->
{% endblock %}