{% extends 'layouts/base.html' %}

{% block title %}Snake Eyes{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
        <img src="{{ url_for('static', filename='images/snake-eyes.jpg') }}"
        class="img-responsive"
        width="350" height="300" title="Snake Eyes" alt="Snake Eyes"/>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
        <h2>Search</h2>
        <p class="text-muted"> your favourites.</p>
        <p>
          <a href="{{ url_for('page.home') }}" class="btn btn-default">Search</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
        <h2>Surf</h2>
        <p class="text-muted">by pressing the 'More like this' button.</p>
        <p>
          <a href="{{ url_for('page.home') }}" class="btn btn-default">Search</a>
        </p>
      </div>
   
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
        <h2>Get</h2>
        <p class="text-muted">recommendations catered to your likings.</p>
        <p>
          <a href="{{ url_for('page.home') }}" class="btn btn-default">Search</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
