{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="container" style="padding: 20px;">
  <div class="row">
    <div class="col-lg-4">
      <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
      <h4>Search</h4>
      <p class="text-muted"> your favourites.</p>
      <p>
        <a href="{{ url_for('page.find') }}" class="btn btn-default">Search</a>
      </p>
      <br>
      <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
      <h4>Surf</h4>
      <p class="text-muted">by pressing the 'More like this' button.</p>
      <p>
        <a href="{{ url_for('page.find') }}" class="btn btn-default">Search</a>
      </p>
      <br>
      <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
      <h4>Get</h4>
      <p class="text-muted">recommendations catered to your likings.</p>
      <p>
        <a href="{{ url_for('page.find') }}" class="btn btn-default">Search</a>
      </p>
    </div>
    
    
    
    <div class="col-xs-4 col-xs-offset-4 well col-sm-4 col-sm-offset-4 well col-lg-4 col-lg-offset-4 well">
      {% call f.form_tag('user.signup') %}
        <legend>Sign up today</legend>

        {% call f.form_group(form.email, css_class='sm-margin-bottom',
                             autofocus='autofocus',
                             placeholder='Email address') %}
        {% endcall %}

        {% call f.form_group(form.password, css_class='sm-margin-bottom') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Register
            </button>
          </div>
          <div class="col-md-6">
            <div class="visible-xs visible-sm sm-margin-top"></div>
            <a href="{{ url_for('user.login') }}"></a>
            <button type="submit" class="btn btn-default btn-block">
            Sign in
            </button>  
            </a>
          </div>
        </div>
      {% endcall %}
    </div>
  </div> 
</div>
{% endblock %}
