{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Sign up for a new account{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-5">
      <h2>What are you waiting for?</h2>

      <div class="media md-margin-bottom">
        <div class="media-left">
          <i class="fa fa-fw fa-3x fa-bullhorn text-primary"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Search</h4>
          <span class="text-muted">
           Find games similar to your favourites.
          </span>
        </div>
      </div>
      <div class="media md-margin-bottom">
        <div class="media-left">
          <i class="fa fa-fw fa-3x fa-database text-primary"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Large Database</h4>
          <span class="text-muted">
            Over 10000+ steam games and counting.
          </span>
        </div>
      </div>
      <div class="media md-margin-bottom">
        <div class="media-left">
          <i class="fa fa-fw fa-3x fa-trophy text-primary"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Discover</h4>
          <span class="text-muted">Find new favourites based on your website activity.</span>
        </div>
      </div>
    </div>
    <div class="col-md-5 well">
      {% call f.form_tag('user.signup') %}
        <legend>Sign up today</legend>

        {% call f.form_group(form.email, css_class='sm-margin-bottom',
                             autofocus='autofocus',
                             placeholder='Email address') %}
        {% endcall %}

        {% call f.form_group(form.password, css_class='sm-margin-bottom') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Register
            </button>
          </div>
          <div class="col-md-6">
            <div class="visible-xs visible-sm sm-margin-top"></div>
            <a href="{{ url_for('user.login') }}"
               class="btn btn-default btn-block">
              Looking to sign in?
            </a>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
  <div class="footer">
    <!-- Grid container -->
    <div class="container" style="padding: 20px;">
      <div class="row">
  
      
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <!-- <a href="{{ url_for('page.start') }}">
            <img src="{{ url_for('static', filename='images/snake-eyes.jpg') }}"
                 class="img-responsive"
                 width="229" height="50" title="Snake Eyes" alt="Snake Eyes"/>
          </a>
          <br> -->
          <p class="footer-links" style="float:left;font-size:15px;padding: 15px;">
            <a href="/" style="font-size: 15px;">Home</a>
            {% if current_user.is_authenticated %}
            <a href="/discover" style="font-size: 15px;">Discover</a>
            {% else %}
            <a href="/login" style="font-size: 15px;">Discover</a>
            {% endif %}
           
          
          </p>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="float: right;">
          
              <!-- <br>
              <br> -->
            
              <a href="https://twitter.com/fetchmlt" target="_blank" rel="noopener noreferrer" class="fa fa-twitter"></a>
    
  
              <a href="https://www.instagram.com/fetchmlt/"  target="_blank" rel="noopener noreferrer" class="fa fa-instagram"></a>
            
              <a href="https://www.linkedin.com/company/fetchmlt" target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
            
              <a href="https://github.com/ViratGSingh/snakeeyes" target="_blank" rel="noopener noreferrer" class="fa fa-github"></a>
              <a href="mailto:fetchmlt@gmail.com" target="_blank" rel="noopener noreferrer" class="fa fa-envelope"></a>
            
            
         
        </div>
        <!--Grid column-->
      </div>
    </div>
        <!--Grid column-->
        
        <!--Grid column-->
     
    <!-- Grid container -->
  
    <!-- Copyright -->
    
    <!-- Copyright -->
  </div>
{% endblock %}
